sae-integration/sae-integration-ihmweb-v2/IHM-Integration-V2/src/test/resources/SaeService_WSDL/SaeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.cirtil.fr/saeService"
   xmlns:tns="http://www.cirtil.fr/saeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:sae="http://www.cirtil.fr/saeService">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.cirtil.fr/saeService"
            schemaLocation="SaeService.xsd" />
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="PingRequestMessage">
      <wsdl:documentation>Message d'interrogation du service de test
         serveur
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:PingRequest" />
   </wsdl:message>
   <wsdl:message name="PingResponseMessage">
      <wsdl:documentation>Message de réponse du service de test serveur
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:PingResponse" />
   </wsdl:message>
   <wsdl:message name="PingSecureRequestMessage">
      <wsdl:documentation>Message d'interrogation du service de test
         serveur en mode sécurisé
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:PingSecureRequest" />
   </wsdl:message>
   <wsdl:message name="PingSecureResponseMessage">
      <wsdl:documentation>Message de réponse du service de test serveur
         en mode sécurisé
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:PingSecureResponse" />
   </wsdl:message>
   <wsdl:message name="archivageUnitaireRequestMessage">
      <wsdl:documentation>Message de demande pour archiver un document
         unique
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageUnitaire" />
   </wsdl:message>
   <wsdl:message name="archivageUnitaireResponseMessage">
      <wsdl:documentation>Message de réponse à l'archivage d'un document
         unique
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageUnitaireResponse" />
   </wsdl:message>
   <wsdl:message name="archivageUnitairePJRequestMessage">
      <wsdl:documentation>Message de demande pour archiver un document
         unique
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageUnitairePJ" />
   </wsdl:message>
   <wsdl:message name="archivageUnitairePJResponseMessage">
      <wsdl:documentation>Message de réponse à l'archivage d'un document
         unique
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageUnitairePJResponse" />
   </wsdl:message>
   <wsdl:message name="stockageUnitaireRequestMessage">
      <wsdl:documentation>Message de demande pour archiver un document
         unique
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:stockageUnitaire" />
   </wsdl:message>
   <wsdl:message name="stockageUnitaireResponseMessage">
      <wsdl:documentation>Message de réponse à l'archivage d'un document
         unique
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:stockageUnitaireResponse" />
   </wsdl:message>
   <wsdl:message name="getDocFormatOrigineRequestMessage">
      <wsdl:documentation>Message de demande de récupération du document
         au format d'origine
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:getDocFormatOrigine" />
   </wsdl:message>
   <wsdl:message name="getDocFormatOrigineResponseMessage">
      <wsdl:documentation>
         Message de réponse de récupération d'un
         document
         Au format
         d'origine
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:getDocFormatOrigineResponse" />
   </wsdl:message>
   <wsdl:message name="etatTraitementsMasseRequestMessage">
      <wsdl:documentation>Message de demande de récupération des états
         des traitements de masse
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:etatTraitementsMasse" />
   </wsdl:message>
   <wsdl:message name="etatTraitementsMasseResponseMessage">
      <wsdl:documentation>
         Message de réponse de récupération des états
         des traitements de masse
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:etatTraitementsMasseResponse" />
   </wsdl:message>
   <wsdl:message name="archivageMasseRequestMessage">
      <wsdl:documentation>Message de demande pour archiver des
         documents
         multiples
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageMasse" />
   </wsdl:message>
   <wsdl:message name="archivageMasseResponseMessage">
      <wsdl:documentation>Message de réponse à une demande
         d'archivage
         de
         documents multiples
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageMasseResponse" />
   </wsdl:message>
   <wsdl:message name="archivageMasseAvecHashRequestMessage">
      <wsdl:documentation>Message de demande pour archiver des
         documents
         multiples avec le hash du sommaire.xml
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:archivageMasseAvecHash" />
   </wsdl:message>
   <wsdl:message name="archivageMasseAvecHashResponseMessage">
      <wsdl:documentation>Message de réponse à une demande
         d'archivage
         de
         documents multiples avec le hash du
         sommaire.xml
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:archivageMasseAvecHashResponse" />
   </wsdl:message>
   <wsdl:message name="suppressionMasseRequestMessage">
      <wsdl:documentation>
         Message de demande pour la suppressionde masse
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:suppressionMasse" />
   </wsdl:message>
   <wsdl:message name="suppressionMasseResponseMessage">
      <wsdl:documentation>
         Message de reponse à une demande de
         suppression de masse
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:suppressionMasseResponse" />
   </wsdl:message>
   <wsdl:message name="restoreMasseRequestMessage">
      <wsdl:documentation>
         Message de demande pour la restore masse
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:restoreMasse" />
   </wsdl:message>
   <wsdl:message name="restoreMasseResponseMessage">
      <wsdl:documentation>
         Message de reponse à un demande de restore
         masse
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:restoreMasseResponse" />
   </wsdl:message>
   <wsdl:message name="rechercheRequestMessage">
      <wsdl:documentation>Message de demande d'une recherche
         documentaire sur le SAE
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:recherche" />
   </wsdl:message>
   <wsdl:message name="rechercheResponseMessage">
      <wsdl:documentation>Message contenant le résultat d'une
         recherche
         documentaire sur le SAE
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:rechercheResponse" />
   </wsdl:message>
   <wsdl:message name="consultationRequestMessage">
      <wsdl:documentation>Message de demande d'une consultation de
         documents SAE
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:consultation" />
   </wsdl:message>
   <wsdl:message name="consultationResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultation de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:consultationResponse" />
   </wsdl:message>
   <wsdl:message name="consultationMTOMRequestMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultationMTOM de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:consultationMTOM" />
   </wsdl:message>
   <wsdl:message name="consultationMTOMResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultationMTOM de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:consultationMTOMResponse" />
   </wsdl:message>
   <wsdl:message name="suppressionRequestMessage">
      <wsdl:documentation>Message contenant le résultat de la
         suppression de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:suppression" />
   </wsdl:message>
   <wsdl:message name="suppressionResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         suppression de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:suppressionResponse" />
   </wsdl:message>
   <wsdl:message name="modificationRequestMessage">
      <wsdl:documentation>Message contenant le résultat de la
         suppression de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:modification" />
   </wsdl:message>
   <wsdl:message name="modificationResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         suppression de documents au SAE
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:modificationResponse" />
   </wsdl:message>
   <wsdl:message name="recuperationMetadonneesRequestMessage">
      <wsdl:documentation>Message contenant la demande
         de récupération
         des métadonnées disponible pour le client
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:recuperationMetadonnees" />
   </wsdl:message>
   <wsdl:message name="recuperationMetadonneesResponseMessage">
      <wsdl:documentation>Message contenant la liste des
         métadonnées
         disponible pour le client
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:recuperationMetadonneesResponse" />
   </wsdl:message>
   <wsdl:message name="transfertRequestMessage">
      <wsdl:documentation>Message contenant la demande de
         transfert
         de
         documents de la GNT vers la GNS
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:transfert" />
   </wsdl:message>
   <wsdl:message name="transfertResponseMessage">
      <wsdl:documentation>Message contenant le résultat du
         transfert
         de
         documents de la GNT vers la GNS
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:transfertResponse" />
   </wsdl:message>
   <wsdl:message name="consultationAffichableRequestMessage">
      <wsdl:documentation>Message de demande d'une consultation de
         documents SAE dans un format affichable
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:consultationAffichable" />
   </wsdl:message>
   <wsdl:message name="consultationAffichableResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultation de documents au SAE dans un format
         affichable
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:consultationAffichableResponse" />
   </wsdl:message>
   <wsdl:message name="rechercheNbResRequestMessage">
      <wsdl:documentation>Message de demande d'une recherche
         documentaire sur le SAE (avec retour du nombre de
         résultats)
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:rechercheNbRes" />
   </wsdl:message>
   <wsdl:message name="rechercheNbResResponseMessage">
      <wsdl:documentation>Message contenant le résultat d'une
         recherche
         documentaire sur le SAE (avec retour du nombre de
         résultats)
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:rechercheNbResResponse" />
   </wsdl:message>

   <wsdl:message name="rechercheParIterateurRequestMessage">
      <wsdl:documentation>Message de demande d'une recherche
         documentaire sur le SAE (par iterateur)
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:rechercheParIterateur" />
   </wsdl:message>
   <wsdl:message name="rechercheParIterateurResponseMessage">
      <wsdl:documentation>Message contenant le résultat d'une
         recherche
         documentaire sur le SAE (par iterateur)
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:rechercheParIterateurResponse" />
   </wsdl:message>
   <wsdl:message name="ajoutNoteRequestMessage">
      <wsdl:documentation>
         Message contenant la demande d'ajout d'une
         note sur un document
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:ajoutNote" />
   </wsdl:message>
   <wsdl:message name="ajoutNoteResponseMessage">
      <wsdl:documentation>
         Message contenant le résultat de la
         création
         d'une note
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:ajoutNoteResponse" />
   </wsdl:message>
   <wsdl:message name="copieRequestMessage">
      <wsdl:documentation>Message contenant la demande de
         copie de documents
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:copie" />
   </wsdl:message>
   <wsdl:message name="copieResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         copie de documents
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:copieResponse" />
   </wsdl:message>
    <wsdl:message name="documentExistantRequestMessage">
      <wsdl:documentation>Message contenant la demande de
         verification de l'existance du documents
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:documentExistant" />
   </wsdl:message>
   <wsdl:message name="documentExistantResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         verification de l'existance du documents
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:documentExistantResponse" />
   </wsdl:message>

   <wsdl:message name="consultationGNTGNSRequestMessage">
      <wsdl:documentation>Message contenant la demande de
         consultation GNT vers GNS de documents
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:consultationGNTGNS" />
   </wsdl:message>
   <wsdl:message name="consultationGNTGNSResponseMessage">
      <wsdl:documentation>Message contenant le résultat de la
         consultation GNT vers GNS de documents
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:consultationGNTGNSResponse" />
   </wsdl:message>

   <wsdl:message name="modificationMasseRequestMessage">
      <wsdl:documentation>Message de demande pour modification en masse
      de documents
      </wsdl:documentation>
      <wsdl:part name="input" element="sae:modificationMasse" />
   </wsdl:message>
   <wsdl:message name="modificationMasseResponseMessage">
      <wsdl:documentation>Message de réponse à une demande
      de modification en masse de document
      </wsdl:documentation>
      <wsdl:part name="output" element="sae:modificationMasseResponse" />
   </wsdl:message>
   <wsdl:message name="transfertMasseResponseMessage">
<wsdl:documentation>Message de réponse à une demande
         de transfert
         de
         documents multiples avec le hash du
         sommaire.xml
      </wsdl:documentation>
    <wsdl:part name="output" element="tns:transfertMasseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="transfertMasseRequestMessage">
<wsdl:documentation>Message de demande pour transférer des
         documents
         multiples avec le hash du sommaire.xml
      </wsdl:documentation>
    <wsdl:part name="input" element="tns:transfertMasse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deblocageRequestMessage">
<wsdl:documentation>Message de demande de déblocage de job
      </wsdl:documentation>
    <wsdl:part name="input" element="tns:deblocage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deblocageResponseMessage">
<wsdl:documentation>Message de réponse à une demande
         de déblocage de job
      </wsdl:documentation>
    <wsdl:part name="output" element="tns:deblocageResponse">
    </wsdl:part>
  </wsdl:message>
   <wsdl:portType name="SaeServicePortType">
      <wsdl:operation name="Ping" parameterOrder="input">
         <wsdl:documentation>Opération de test de la disponibilité
            du
            serveur
         </wsdl:documentation>
         <wsdl:input message="tns:PingRequestMessage" />
         <wsdl:output message="tns:PingResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="PingSecure" parameterOrder="input">
         <wsdl:documentation>Opération de test de la disponibilité
            du
            serveur en mode sécurisé
         </wsdl:documentation>
         <wsdl:input message="tns:PingSecureRequestMessage" />
         <wsdl:output message="tns:PingSecureResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="archivageUnitaire"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage d'un document
            unique
         </wsdl:documentation>
         <wsdl:input message="tns:archivageUnitaireRequestMessage" />
         <wsdl:output message="tns:archivageUnitaireResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="archivageMasse"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage de documents
            multiples
         </wsdl:documentation>
         <wsdl:input message="tns:archivageMasseRequestMessage" />
         <wsdl:output message="tns:archivageMasseResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="archivageMasseAvecHash"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage de documents
            multiples avec un hash pour le sommaire.xml
         </wsdl:documentation>
         <wsdl:input message="tns:archivageMasseAvecHashRequestMessage" />
         <wsdl:output message="tns:archivageMasseAvecHashResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="suppressionMasse"
         parameterOrder="input">
         <wsdl:documentation>
            Opération de suppression de masse de
            documents
         </wsdl:documentation>
         <wsdl:input message="tns:suppressionMasseRequestMessage" />
         <wsdl:output message="tns:suppressionMasseResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="restoreMasse" parameterOrder="input">
         <wsdl:documentation>
            Opération de restauration en masse de
            documents supprimés
         </wsdl:documentation>
         <wsdl:input message="tns:restoreMasseRequestMessage" />
         <wsdl:output message="tns:restoreMasseResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="recherche" parameterOrder="input">
         <wsdl:documentation>Opération de recherche documentaire
            sur le
            SAE
         </wsdl:documentation>
         <wsdl:input message="tns:rechercheRequestMessage" />
         <wsdl:output message="tns:rechercheResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="consultation" parameterOrder="input">
         <wsdl:documentation>Opération de consultation
            documentaire
            sur
            le
            SAE
         </wsdl:documentation>
         <wsdl:input message="tns:consultationRequestMessage" />
         <wsdl:output message="tns:consultationResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="consultationMTOM"
         parameterOrder="input">
         <wsdl:documentation>Opération de consultationMTOM
            documentaire
            sur le SAE
         </wsdl:documentation>
         <wsdl:input message="tns:consultationMTOMRequestMessage" />
         <wsdl:output message="tns:consultationMTOMResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="archivageUnitairePJ"
         parameterOrder="input">
         <wsdl:documentation>Opération d'archivage d'un document
            unique
         </wsdl:documentation>
         <wsdl:input message="tns:archivageUnitairePJRequestMessage" />
         <wsdl:output message="tns:archivageUnitairePJResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="stockageUnitaire"
         parameterOrder="input">
         <wsdl:documentation>
            Opération de stockage unitaire d'un
            document
         </wsdl:documentation>
         <wsdl:input message="tns:stockageUnitaireRequestMessage" />
         <wsdl:output message="tns:stockageUnitaireResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="getDocFormatOrigine"
         parameterOrder="input">
         <wsdl:documentation>
            Opération de récupération d'un document au
            format d'origine
         </wsdl:documentation>
         <wsdl:input message="tns:getDocFormatOrigineRequestMessage" />
         <wsdl:output message="tns:getDocFormatOrigineResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="modification" parameterOrder="input">
         <wsdl:documentation>Opération de modification d'un
            document
            unique
         </wsdl:documentation>
         <wsdl:input message="tns:modificationRequestMessage" />
         <wsdl:output message="tns:modificationResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="suppression" parameterOrder="input">
         <wsdl:documentation>Opération de suppression d'un
            document
            unique
         </wsdl:documentation>
         <wsdl:input message="tns:suppressionRequestMessage" />
         <wsdl:output message="tns:suppressionResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="recuperationMetadonnees"
         parameterOrder="input">
         <wsdl:documentation>Opération de récuperation de la liste
            des
            métadonnées disponible pour le client
         </wsdl:documentation>
         <wsdl:input message="tns:recuperationMetadonneesRequestMessage" />
         <wsdl:output message="tns:recuperationMetadonneesResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="transfert" parameterOrder="input">
         <wsdl:documentation>Opération de transfert d'un document
            de
            la
            GNT vers la GNS
         </wsdl:documentation>
         <wsdl:input message="tns:transfertRequestMessage" />
         <wsdl:output message="tns:transfertResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="consultationAffichable"
         parameterOrder="input">
         <wsdl:documentation>Opération de consultationAffichable
            d'un
            document
            sur le SAE
         </wsdl:documentation>
         <wsdl:input message="tns:consultationAffichableRequestMessage" />
         <wsdl:output message="tns:consultationAffichableResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="rechercheNbRes"
         parameterOrder="input">
         <wsdl:documentation>Opération de recherche documentaire
            sur
            le
            SAE
            (avec retour du nombre de résultats)
         </wsdl:documentation>
         <wsdl:input message="tns:rechercheNbResRequestMessage" />
         <wsdl:output message="tns:rechercheNbResResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="rechercheParIterateur"
         parameterOrder="input">
         <wsdl:documentation>Opération de recherche documentaire
            sur
            le
            SAE (par iterateur)
         </wsdl:documentation>
         <wsdl:input message="tns:rechercheParIterateurRequestMessage" />
         <wsdl:output message="tns:rechercheParIterateurResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="ajoutNote" parameterOrder="input">
         <wsdl:documentation>Opération d'ajout d'une note à un
            document
         </wsdl:documentation>
         <wsdl:input message="tns:ajoutNoteRequestMessage" />
         <wsdl:output message="tns:ajoutNoteResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="etatTraitementsMasse"
         parameterOrder="input">
         <wsdl:documentation>Opération de récupération des états des
            traitements de masse
         </wsdl:documentation>
         <wsdl:input message="tns:etatTraitementsMasseRequestMessage" />
         <wsdl:output message="tns:etatTraitementsMasseResponseMessage" />
      </wsdl:operation>
      
      <wsdl:operation name="copie" parameterOrder="input">
         <wsdl:documentation>Opération de copie d'un
            document
         </wsdl:documentation>
         <wsdl:input message="tns:copieRequestMessage" />
         <wsdl:output message="tns:copieResponseMessage" />
      </wsdl:operation>
      
      <wsdl:operation name="documentExistant" parameterOrder="input">
         <wsdl:documentation>Opération de vérification d'un
            document
         </wsdl:documentation>
         <wsdl:input message="tns:documentExistantRequestMessage" />
         <wsdl:output message="tns:documentExistantResponseMessage" />
      </wsdl:operation>
      
      <wsdl:operation name="consultationGNTGNS" parameterOrder="input">
         <wsdl:documentation>Opération de consultation GNT vers GNS d'un
            document
         </wsdl:documentation>
         <wsdl:input message="tns:consultationGNTGNSRequestMessage" />
         <wsdl:output message="tns:consultationGNTGNSResponseMessage" />
      </wsdl:operation>
      
      <wsdl:operation name="modificationMasse" parameterOrder="input">
         <wsdl:documentation>Opération de modification de masse de 
         documents
         </wsdl:documentation>
         <wsdl:input message="tns:modificationMasseRequestMessage" />
         <wsdl:output message="tns:modificationMasseResponseMessage" />
      </wsdl:operation>
      <wsdl:operation name="transfertMasse" parameterOrder="input">
<wsdl:documentation>Opération de transfert de documents
            multiples avec un hash pour le sommaire.xml
         </wsdl:documentation>
      <wsdl:input message="tns:transfertMasseRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:transfertMasseResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deblocage" parameterOrder="input">
<wsdl:documentation>Opération de déblocage de job
         </wsdl:documentation>
      <wsdl:input message="tns:deblocageRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:deblocageResponseMessage">
    </wsdl:output>
    </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SaeServiceSoapBinding" type="sae:SaeServicePortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Ping">
         <soap:operation soapAction="Ping" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PingSecure">
         <soap:operation soapAction="PingSecure" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="archivageUnitaire">
         <wsdl:documentation>Service d'archivage unitaire de
            document
         </wsdl:documentation>
         <soap:operation soapAction="archivageUnitaire" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="archivageMasse">
         <wsdl:documentation>Service d'archivage de documents
            multiples
         </wsdl:documentation>
         <soap:operation soapAction="archivageMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="archivageMasseAvecHash">
         <wsdl:documentation>Opération d'archivage de documents
            multiples avec un hash fournit pour le sommaire.xml
         </wsdl:documentation>
         <soap:operation soapAction="archivageMasseAvecHash" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="suppressionMasse">
         <wsdl:documentation>
            Opération de suppression de documents en
            masse
         </wsdl:documentation>
         <soap:operation soapAction="suppressionMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="restoreMasse">
         <wsdl:documentation>
            Opération de restaure de documents en masse
         </wsdl:documentation>
         <soap:operation soapAction="restoreMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="recherche">
         <wsdl:documentation>Service de recherche documentaire sur
            le
            SAE
         </wsdl:documentation>
         <soap:operation soapAction="recherche" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="consultation">
         <wsdl:documentation>Service de consultation documentaire
            du
            SAE
         </wsdl:documentation>
         <soap:operation soapAction="consultation" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="consultationMTOM">
         <wsdl:documentation>Service de consultationMTOM
            documentaire
            du
            SAE
         </wsdl:documentation>
         <soap:operation soapAction="consultationMTOM" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="archivageUnitairePJ">
         <wsdl:documentation>Service d'archivage unitaire de
            document
         </wsdl:documentation>
         <soap:operation soapAction="archivageUnitairePJ" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="modification">
         <wsdl:documentation>Service de modification unitaire de
            document
         </wsdl:documentation>
         <soap:operation soapAction="modification" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="suppression">
         <wsdl:documentation>Service de suppression unitaire de
            document
         </wsdl:documentation>
         <soap:operation soapAction="suppression" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="recuperationMetadonnees">
         <wsdl:documentation>Service de récupération des
            métadonnées
            disponible pour le client
         </wsdl:documentation>
         <soap:operation soapAction="recuperationMetadonnees" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="transfert">
         <wsdl:documentation>Service de transfert unitaire de
            document
         </wsdl:documentation>
         <soap:operation soapAction="transfert" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="consultationAffichable">
         <wsdl:documentation>Service de consultationMTOM
            documentaire
            du
            SAE dans un format affichable
         </wsdl:documentation>
         <soap:operation soapAction="consultationAffichable" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="rechercheNbRes">
         <wsdl:documentation>Service de recherche documentaire sur
            le
            SAE
            (avec retour du nombre de résultats)
         </wsdl:documentation>
         <soap:operation soapAction="rechercheNbRes" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="rechercheParIterateur">
         <wsdl:documentation>Service de recherche documentaire sur
            le
            SAE
            (par iterateur)
         </wsdl:documentation>
         <soap:operation soapAction="rechercheParIterateur" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ajoutNote">
         <wsdl:documentation>Service d'ajout de note à un document
         </wsdl:documentation>
         <soap:operation soapAction="ajoutNote" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="stockageUnitaire">
         <wsdl:documentation>
            Service de stockage unitaire de document
         </wsdl:documentation>
         <soap:operation soapAction="stockageUnitaire" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getDocFormatOrigine">
         <wsdl:documentation>
            Service de récupération d'un document
            rattaché au format d'origine
         </wsdl:documentation>
         <soap:operation soapAction="getDocFormatOrigine" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="etatTraitementsMasse">
         <wsdl:documentation>
            Service de récupération des états des traitements de masse
         </wsdl:documentation>
         <soap:operation soapAction="etatTraitementsMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="copie">
         <wsdl:documentation>Service de copie de
            document
         </wsdl:documentation>
         <soap:operation soapAction="copie" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
       <wsdl:operation name="documentExistant">
         <wsdl:documentation>Service verification existence du document
         </wsdl:documentation>
         <soap:operation soapAction="documentExistant" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      
       <wsdl:operation name="consultationGNTGNS">
         <wsdl:documentation>Service de consultation GNT vers GNS de
            documents
         </wsdl:documentation>
         <soap:operation soapAction="consultationGNTGNS" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      
      <wsdl:operation name="modificationMasse">
         <wsdl:documentation>Service de modification en masse de
            documents
         </wsdl:documentation>
         <soap:operation soapAction="modificationMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      
      <wsdl:operation name="transfertMasse">
         <wsdl:documentation>Service de transfert de documents
            multiples
         </wsdl:documentation>
         <soap:operation soapAction="transfertMasse" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      
      <wsdl:operation name="deblocage">
         <wsdl:documentation>Service de déblocage de job
         </wsdl:documentation>
      <soap:operation soapAction="deblocage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SaeService">
      <wsdl:port name="SaeServicePort" binding="tns:SaeServiceSoapBinding">
         <soap:address
            location="http://localhost:8080/axis2/services/SaeService/" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
