sae/sae-webservices/src/main/webapp/WEB-INF/services/SaeService/META-INF/SaeService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sae="http://www.cirtil.fr/saeService" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cirtil.fr/saeService">
    <xsd:element name="PingRequest">
        <xsd:annotation>
            <xsd:documentation>Requête de Ping (compatibilité ascendante)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="PingResponse">
        <xsd:annotation>
            <xsd:documentation>Réponse de Ping : chaîne de caractères
            (compatibilité ascendante)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pingString" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PingSecureRequest">
        <xsd:annotation>
            <xsd:documentation>Requête de PingSecure (compatibilité
            ascendante)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="PingSecureResponse">
        <xsd:annotation>
            <xsd:documentation>Réponse de PingSecure : chaîne de caractères
            (compatibilité ascendante)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pingString" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="uuidType">
        <xsd:annotation>
            <xsd:documentation>UUID (Unique Universal Identifier) encodé
            sous forme hexadécimale, par exemple
            f81d4fae-7dec-11d0-a765-00a0c91e6bf6
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="listeUuidType">
        <xsd:annotation>
            <xsd:documentation>Une liste d'UUID</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="uuid" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>Les uuids</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="traitementMasseType">
        <xsd:annotation>
            <xsd:documentation>Un traitement de masse</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idJob" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant du traitement de masse
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le type de traitement (capture_masse,
                  suppression_masse)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateCreation" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>La date de création du job dans la
                  pile</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="etat" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>L'état du job</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nombreDocuments" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le nombre de documents traités par le
                  job</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateReservation" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>La date de réservation du job
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateDebut" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>La date de début de traitement du job
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dateFin" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>La date de fin de traitement du job
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="message" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Message éventuel sur l'état du job
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeTraitementsMasseType">
        <xsd:annotation>
            <xsd:documentation>Une liste de traitements de masse</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="traitementMasse" type="sae:traitementMasseType">
                <xsd:annotation>
                    <xsd:documentation>Les traitements de masse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ecdeUrlType">
        <xsd:annotation>
            <xsd:documentation>Une URL pointant sur l'ECDE, de la forme
            ecde://ecdeX/numeroCS/dateTraitement/documents/nom_du_fichier
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI">
            <xsd:pattern value="ecde://.*/.*/(19|20)[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])/[^/|\\]*/documents/.+"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ecdeUrlSommaireType">
        <xsd:annotation>
            <xsd:documentation>Une URL pointant sur le fichier sommaire.xml
            d'un traitement de masse, de la forme
            ecde://ecdeX/numeroCS/dateTraitement/sommaire.xml
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI">
            <xsd:pattern value="ecde://.*/.*/(19|20)[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])/[^/|\\]*/sommaire.xml"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="objetNumeriqueType">
        <xsd:annotation>
            <xsd:documentation>Un objet numérique peut être représenté soit
            par son URL ECDE, soit par un flux binaire encodé en base64
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="url" type="sae:ecdeUrlType"/>
                <xsd:element name="contenu" type="xsd:base64Binary"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="metadonneeCodeType">
        <xsd:annotation>
            <xsd:documentation>Code d'une métadonnée (identifiant unique)
            sous la forme d'une chaîne de caractères non vide.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="metadonneeValeurType">
        <xsd:annotation>
            <xsd:documentation>Valeur d'une métadonnée sous la forme d'une
            chaîne de caractères qui peut être vide
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="metadonneeType">
        <xsd:annotation>
            <xsd:documentation>Une métadonnée définie par un code et une
            valeur
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="sae:metadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>Le code de la métadonnée (identifiant
                  unique)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valeur" type="sae:metadonneeValeurType">
                <xsd:annotation>
                    <xsd:documentation>La valeur de la métadonnée (la valeur
                  peut être vide)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeMetadonneeType">
        <xsd:annotation>
            <xsd:documentation>Une liste de métadonnées</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="metadonnee" type="sae:metadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rangeMetadonneeType">
        <xsd:annotation>
            <xsd:documentation>Un range de métadonnée définie par un code,
            une valeur minimum et une valeur maximum
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="sae:metadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>Le code de la métadonnée (identifiant
                  unique)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valeurMin" type="sae:metadonneeValeurType">
                <xsd:annotation>
                    <xsd:documentation>La valeur minimum de la métadonnée (la
                  valeur
                  peut être vide)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valeurMax" type="sae:metadonneeValeurType">
                <xsd:annotation>
                    <xsd:documentation>La valeur maximum de la métadonnée (la
                  valeur
                  peut être vide)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeRangeMetadonneeType">
        <xsd:annotation>
            <xsd:documentation>Une liste de range de métadonnées
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="rangeMetadonnee" type="sae:rangeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les ranges de métadonnées
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeMetadonneeCodeType">
        <xsd:annotation>
            <xsd:documentation>Une liste de codes de métadonnées
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="metadonneeCode" type="sae:metadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>Les codes des métadonnées
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="requeteRechercheType">
        <xsd:annotation>
            <xsd:documentation>Une requête de recherche (chaîne non vide)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="requetePrincipaleType">
        <xsd:annotation>
            <xsd:documentation>Requête principale de la recherche par
            iterateur.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fixedMetadatas" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Liste de métadonnées fixe d’un index
                  composite
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="varyingMetadata" type="sae:rangeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>La métadonnée variable de l’index
                  utilisé
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="filtreType">
        <xsd:annotation>
            <xsd:documentation>Filtre de la recherche par iterateur.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="equalFilter" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Liste des filtres sur une valeur fixe
                  de métadonnée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="notEqualFilter" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Liste des filtres sur une métadonnée
                  dont la valeur est différente de la valeur fournie
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="rangeFilter" type="sae:listeRangeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Liste de filtres sur un range de
                  valeurs de métadonnée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="notInRangeFilter" type="sae:listeRangeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Liste de filtres sur une métadonnée
                  dont la valeur n'appartient pas à l'intervalle
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="identifiantPageType">
        <xsd:annotation>
            <xsd:documentation>Un identifiant de la page renvoyé par la
            recherche par iterateur. Il est composé d’une valeur, et
            d’un uuid de document
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="valeur" type="sae:metadonneeValeurType">
                <xsd:annotation>
                    <xsd:documentation>La valeur de la dernière métadonnée de
                  la requête principale (VaryingMetadata)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="resultatRechercheType">
        <xsd:annotation>
            <xsd:documentation>Un résultat de la recherche de documents
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des métadonnées associées
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeResultatRechercheType">
        <xsd:annotation>
            <xsd:documentation>Liste de résultat d'une recherche de
            documents
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultat" type="sae:resultatRechercheType">
                <xsd:annotation>
                    <xsd:documentation>Les résultats de la recherche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageUnitaireRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération 'archivage
            unitaire'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ecdeUrl" type="sae:ecdeUrlType">
                <xsd:annotation>
                    <xsd:documentation>L'objet numérique à archiver sous la
                  forme d'une URL pointant vers un fichier de l'ECDE.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées. La liste peut être
                  vide.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageUnitaireResponseType">
        <xsd:annotation>
            <xsd:documentation>Valeur de retour de l'opération 'archivage
            unitaire'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageMasseRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération
            'archivageMasse'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="urlSommaire" type="sae:ecdeUrlSommaireType">
                <xsd:annotation>
                    <xsd:documentation>L'URL ECDE du fichier sommaire.xml
                  décrivant le traitement de masse
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageMasseResponseType">
        <xsd:annotation>
            <xsd:documentation>Valeur de retour de l'opération
            'archivageMasse'. Le type est vide, il sert simplement à
            respecter la convention Document/Literal Wrapped pour le
            service web dans lequel il sera utilisé
         </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    <xsd:complexType name="archivageMasseAvecHashRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètres d'entrées de l'opération
            'archivageMasseAvecHash'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="urlSommaire" type="sae:ecdeUrlSommaireType">
                <xsd:annotation>
                    <xsd:documentation>L'URL ECDE du fichier sommaire.xml
                  décrivant le traitement de masse
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hash" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le hash correspondant au fichier
                  sommaire.xml fourni
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="typeHash" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>L'algorithme utilisé pour la
                  génération du hash
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageMasseAvecHashResponseType">
        <xsd:annotation>
            <xsd:documentation>Valeur de retour de l'opération
            'archivageMasseAvecHash'. Le type est un UUID, il sert à
            identifier la tâche dans la pile des travaux
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>identifiant unique de la tâche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="suppressionMasseRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération
            'suppressionMasse'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="requete" type="sae:requeteRechercheType">
                <xsd:annotation>
                    <xsd:documentation>
                  La requête de recherche des documents
                  à supprimer
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="suppressionMasseResponseType">
        <xsd:annotation>
            <xsd:documentation>Valeur de retour de l'opération
            'suppessionMasse'. Le type est un UUID, il sert à
            identifier
            la tâche dans la pile des travaux
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>identifiant unique de la tâche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="restoreMasseRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération
            'restoreMasse'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>Identifiant unique du job de
                  suppression
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="restoreMasseResponseType">
        <xsd:annotation>
            <xsd:documentation>Valeur de retour de l'opération
            'restoreMasse'. Le type est un UUID, il sert à
            identifier la
            tâche dans la pile des travaux
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Identifiant unique de la tâche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rechercheRequestType">
        <xsd:sequence>
            <xsd:element name="requete" type="sae:requeteRechercheType">
                <xsd:annotation>
                    <xsd:documentation>La requête de recherche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des codes des métadonnées
                  voulues
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rechercheResponseType">
        <xsd:sequence>
            <xsd:element name="resultats" type="sae:listeResultatRechercheType">
                <xsd:annotation>
                    <xsd:documentation>Les résultats de la recherche. La
                  liste peut être vide si aucun document n'a été
                  retrouvé
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resultatTronque" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si la liste de
                  résultats a été automatiquement tronquée car trop
                  volumineuse
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="consultationRequestType">
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage de
                  l'archive à consulter
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="metadonnees" type="sae:listeMetadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des codes des métadonnées
                  voulues
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="consultationResponseType">
        <xsd:sequence>
            <xsd:element name="objetNumerique" type="sae:objetNumeriqueConsultationType">
                <xsd:annotation>
                    <xsd:documentation>L'objet numérique, soit directement
                  sous forme d'un flux binaire en base 64, soit sous
                  forme d'une URL de consultation directe.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées associées à l'archive,
                  sous forme d'une liste de paire clé/valeur
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="consultationMTOMRequestType">
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage de
                  l'archive à consulter
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="metadonnees" type="sae:listeMetadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des codes des métadonnées
                  voulues
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="consultationMTOMResponseType">
        <xsd:sequence>
            <xsd:element name="contenu" type="xsd:base64Binary"/>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées associées à l'archive,
                  sous forme d'une liste de paire clé/valeur
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageUnitairePJRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération 'archivage
            Unitaire PJ'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées. La liste peut être
                  vide.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="ecdeUrl" type="sae:ecdeUrlType"/>
                <xsd:element name="dataFile" type="sae:dataFileType"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="archivageUnitairePJResponseType">
        <xsd:annotation>
            <xsd:documentation>Valeur de retour de l'opération 'archivage
            Unitaire PJ'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stockageUnitaireRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d’entrée de l’opération 'stockage
            Unitaire'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="urlEcdeDoc" type="sae:ecdeUrlType"/>
                <xsd:element name="dataFileDoc" type="sae:dataFileType"/>
            </xsd:choice>
            <xsd:choice minOccurs="0">
                <xsd:element name="urlEcdeDocOrigine" type="sae:ecdeUrlType"/>
                <xsd:element name="dataFileAttached" type="sae:dataFileType"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="stockageUnitaireResponseType">
        <xsd:annotation>
            <xsd:documentation>
            Valeur de retour de l'opération 'stockage
            Unitaire Doc'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idGed" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>
                  L'identifiant unique du document
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getDocFormatOrigineRequestType">
        <xsd:sequence>
            <xsd:element name="idDoc" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>
                  L'identifiant unique du document
                  parent
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getDocFormatOrigineResponseType">
        <xsd:sequence>
            <xsd:element name="contenu" type="xsd:base64Binary"/>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées associées au document
                  au format d'origine,
                  sous forme d'une liste de paire
                  clé/valeur
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="modificationRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération 'archivage
            unitaire'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>l'identifiant unique du document à
                  modifier
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées. La liste peut être
                  vide.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="modificationResponseType">
        <xsd:annotation>
            <xsd:documentation>Retour de l'opération
            'modification'.
         </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    <xsd:complexType name="suppressionRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération 'archivage
            unitaire'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>l'identifiant unique du document à
                  supprimer
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="suppressionResponseType">
        <xsd:annotation>
            <xsd:documentation>Retour de l'opération
            'suppression'.
         </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    <xsd:complexType name="dataFileType">
        <xsd:sequence>
            <xsd:element name="file" type="xsd:base64Binary">
                <xsd:annotation>
                    <xsd:documentation>L'objet numérique à archiver sous la
                  forme d'un binaire.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fileName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Nom du fichier</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="urlConsultationDirecteType">
        <xsd:annotation>
            <xsd:documentation>Une URL de consultation directe
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI"/>
    </xsd:simpleType>
    <xsd:complexType name="objetNumeriqueConsultationType">
        <xsd:annotation>
            <xsd:documentation>Un objet numérique représenté soit un flux
            binaire encodé en base 64, soit par une URL de consultation
            directe
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="url" type="sae:urlConsultationDirecteType"/>
                <xsd:element name="contenu" type="xsd:base64Binary"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="recuperationMetadonnees">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération
            'recuperationMetadonnees'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:complexType name="metadonneeDispoType">
        <xsd:annotation>
            <xsd:documentation>Une métadonnée définie par un ensemble
            de
            propriété (code long, libellé, description, format,
            formatage, spécifiable à l'archivage, obligatoire à
            l'archivage, taille max, critère de recherche, indexation,
            modifiable)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="codeLong" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le code long de la métadonnée
                  (identifiant
                  unique)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="libelle" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le libellé de la métadonnée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>La description de la métadonnée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="format" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le format attendue pour cette
                  métadonnée
                  (String, Integer, Date, Boolean)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="formatage" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Le formatage attendue pour cette
                  métadonnée
                  (yyyy-mm-dd,...)
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="specifiableArchivage" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si cette métadonnée est
                  spécifiable à l'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="obligatoireArchivage" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si cette métadonnée est
                  obligatoire à l'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tailleMax" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Taille maximul de la métadonnée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="critereRecherche" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si cette métadonnée
                  peut
                  être utilisé comme critère de recherche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indexation" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si cette métadonnée est
                  indexée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="modifiable" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si cette métadonnée est
                  modifiable par le client
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeMetadonneeDispoType">
        <xsd:annotation>
            <xsd:documentation>Une liste de métadonnées disponible pour le
            client
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="metadonnee" type="sae:metadonneeDispoType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées disponibles pour le
                  client
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="recuperationMetadonneesResponseType">
        <xsd:sequence>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeDispoType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées disponible pour le
                  client
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transfertRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération
            'transfert'
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="uuid" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>l'identifiant unique du document à
                  transferer
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transfertResponseType">
        <xsd:annotation>
            <xsd:documentation>Retour de l'opération
            'transfert'.
         </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    <xsd:complexType name="consultationAffichableRequestType">
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage de
                  l'archive à consulter
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="metadonnees" type="sae:listeMetadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des codes des métadonnées
                  voulues
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="numeroPage" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Numero de page</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="nombrePages" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Nombre de pages</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="consultationAffichableResponseType">
        <xsd:sequence>
            <xsd:element name="contenu" type="xsd:base64Binary"/>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées associées à l'archive,
                  sous forme d'une liste de paire clé/valeur
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="etatTraitementsMasseRequestType">
        <xsd:sequence>
            <xsd:element name="listeUuid" type="sae:listeUuidType">
                <xsd:annotation>
                    <xsd:documentation>La liste des identifiants dont on
                  souhaite récupérer l'état
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="etatTraitementsMasseResponseType">
        <xsd:sequence>
            <xsd:element name="traitementsMasse" type="sae:listeTraitementsMasseType">
                <xsd:annotation>
                    <xsd:documentation>La liste des traitements de masse
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="requeteRechercheNbResType">
        <xsd:annotation>
            <xsd:documentation>Une requête de recherche (chaîne non vide)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="resultatRechercheNbResType">
        <xsd:annotation>
            <xsd:documentation>Un résultat de la recherche de documents
            (avec retour du nombre de résultats)
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idArchive" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique d'archivage
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des métadonnées associées
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listeResultatRechercheNbResType">
        <xsd:annotation>
            <xsd:documentation>Liste de résultat d'une recherche de
            documents
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultat" type="sae:resultatRechercheType">
                <xsd:annotation>
                    <xsd:documentation>Les résultats de la recherche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rechercheNbResRequestType">
        <xsd:sequence>
            <xsd:element name="requete" type="sae:requeteRechercheNbResType">
                <xsd:annotation>
                    <xsd:documentation>La requête de recherche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des codes des métadonnées
                  voulues
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rechercheNbResResponseType">
        <xsd:sequence>
            <xsd:element name="resultats" type="sae:listeResultatRechercheNbResType">
                <xsd:annotation>
                    <xsd:documentation>Les résultats de la recherche. La
                  liste peut être vide si aucun document n'a été
                  retrouvé
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nbResultats" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Le nombre de résultats correspondant à
                  la requête de recherche
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resultatTronque" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant si la liste de
                  résultats a été automatiquement tronquée car trop
                  volumineuse
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rechercheParIterateurRequestType">
        <xsd:sequence>
            <xsd:element name="requetePrincipale" type="sae:requetePrincipaleType">
                <xsd:annotation>
                    <xsd:documentation>La requête principale sur un index
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="filtres" type="sae:filtreType">
                <xsd:annotation>
                    <xsd:documentation>Les filtres à utiliser une fois que la
                  requête principale est exécutée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nbDocumentsParPage" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Le nombre de documents par page
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="identifiantPage" type="sae:identifiantPageType">
                <xsd:annotation>
                    <xsd:documentation>L’identifiant de la page recherchée
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeCodeType">
                <xsd:annotation>
                    <xsd:documentation>La liste des codes des métadonnées
                  voulues
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="rechercheParIterateurResponseType">
        <xsd:sequence>
            <xsd:element name="resultats" type="sae:listeResultatRechercheType">
                <xsd:annotation>
                    <xsd:documentation>Les résultats de la recherche. La
                  liste peut être vide si aucun document n'a été
                  retrouvé
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="identifiantPageSuivante" type="sae:identifiantPageType">
                <xsd:annotation>
                    <xsd:documentation>L’identifiant de la page suivante
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dernierePage" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indiquant s’il s’agit de la
                  dernière page
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="noteTxtType">
        <xsd:annotation>
            <xsd:documentation>
            Contenu d’une note de document
         </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ajoutNoteRequestType">
        <xsd:sequence>
            <xsd:element name="note" type="sae:noteTxtType">
                <xsd:annotation>
                    <xsd:documentation>Le contenu de la note
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uuid" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>
                  Identifiant unique du document à
                  annoter
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ajoutNoteResponseType">
        <xsd:annotation>
            <xsd:documentation>
            Retour de l'opération 'ajoutNote'.
         </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>
    <xsd:complexType name="copieRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération de copie
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idGed" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>l'identifiant unique du document à
                  copier
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="metadonnees" type="sae:listeMetadonneeType">
                <xsd:annotation>
                    <xsd:documentation>Les métadonnées. La liste peut être
                  vide.
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="copieResponseType">
        <xsd:annotation>
            <xsd:documentation>Retour de l'opération
            de copie.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idGed" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>L'identifiant unique de la copie
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="documentExistantRequestType">
        <xsd:annotation>
            <xsd:documentation>Paramètre d'entrée de l'opération de vérification de l'existance du document
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idGed" type="sae:uuidType">
                <xsd:annotation>
                    <xsd:documentation>l'identifiant unique du document à
                  vérifier
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="documentExistantResponseType">
        <xsd:annotation>
            <xsd:documentation>Retour de l'opération
            de copie.
         </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="isDocExist" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>True si le document existe false sinon
               </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="archivageUnitaire" type="sae:archivageUnitaireRequestType"/>
    <xsd:element name="archivageUnitaireResponse" type="sae:archivageUnitaireResponseType"/>
    <xsd:element name="archivageUnitairePJ" type="sae:archivageUnitairePJRequestType"/>
    <xsd:element name="archivageUnitairePJResponse" type="sae:archivageUnitairePJResponseType"/>
    <xsd:element name="stockageUnitaire" type="sae:stockageUnitaireRequestType"/>
    <xsd:element name="stockageUnitaireResponse" type="sae:stockageUnitaireResponseType"/>
    <xsd:element name="getDocFormatOrigine" type="sae:getDocFormatOrigineRequestType"/>
    <xsd:element name="getDocFormatOrigineResponse" type="sae:getDocFormatOrigineResponseType"/>
    <xsd:element name="suppressionMasse" type="sae:suppressionMasseRequestType"/>
    <xsd:element name="restoreMasse" type="sae:restoreMasseRequestType"/>
    <xsd:element name="etatTraitementsMasse" type="sae:etatTraitementsMasseRequestType"/>
    <xsd:element name="archivageMasse" type="sae:archivageMasseRequestType"/>
    <xsd:element name="archivageMasseResponse" type="sae:archivageMasseResponseType"/>
    <xsd:element name="archivageMasseAvecHash" type="sae:archivageMasseAvecHashRequestType"/>
    <xsd:element name="archivageMasseAvecHashResponse" type="sae:archivageMasseAvecHashResponseType"/>
    <xsd:element name="recherche" type="sae:rechercheRequestType"/>
    <xsd:element name="rechercheResponse" type="sae:rechercheResponseType"/>
    <xsd:element name="consultation" type="sae:consultationRequestType"/>
    <xsd:element name="consultationResponse" type="sae:consultationResponseType"/>
    <xsd:element name="consultationMTOM" type="sae:consultationMTOMRequestType"/>
    <xsd:element name="consultationMTOMResponse" type="sae:consultationMTOMResponseType"/>
    <xsd:element name="modification" type="sae:modificationRequestType"/>
    <xsd:element name="modificationResponse" type="sae:modificationResponseType"/>
    <xsd:element name="suppression" type="sae:suppressionRequestType"/>
    <xsd:element name="suppressionResponse" type="sae:suppressionResponseType"/>
    <xsd:element name="recuperationMetadonneesResponse" type="sae:recuperationMetadonneesResponseType"/>
    <xsd:element name="transfert" type="sae:transfertRequestType"/>
    <xsd:element name="transfertResponse" type="sae:transfertResponseType"/>
    <xsd:element name="consultationAffichable" type="sae:consultationAffichableRequestType"/>
    <xsd:element name="consultationAffichableResponse" type="sae:consultationAffichableResponseType"/>
    <xsd:element name="rechercheNbRes" type="sae:rechercheNbResRequestType"/>
    <xsd:element name="rechercheNbResResponse" type="sae:rechercheNbResResponseType"/>
    <xsd:element name="rechercheParIterateur" type="sae:rechercheParIterateurRequestType"/>
    <xsd:element name="rechercheParIterateurResponse" type="sae:rechercheParIterateurResponseType"/>
    <xsd:element name="ajoutNote" type="sae:ajoutNoteRequestType"/>
    <xsd:element name="ajoutNoteResponse" type="sae:ajoutNoteResponseType"/>
    <xsd:element name="suppressionMasseResponse" type="sae:suppressionMasseResponseType"/>
    <xsd:element name="restoreMasseResponse" type="sae:restoreMasseResponseType"/>
    <xsd:element name="etatTraitementsMasseResponse" type="sae:etatTraitementsMasseResponseType"/>
    <xsd:element name="copie" type="sae:copieRequestType"/>
    <xsd:element name="copieResponse" type="sae:copieResponseType"/>
    <xsd:element name="documentExistant" type="sae:documentExistantRequestType"/>
    <xsd:element name="documentExistantResponse" type="sae:documentExistantResponseType"/>
</xsd:schema>
